@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    :root {
        background-color: "#F2F5F3"
    }
  
    :root[class~="dark"] {
        background-color: "#1D1D1D"
  }

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}